* {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pointer {
  cursor: pointer;
}

.spacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.spacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.rad10 {
  border-radius: 10px;
}

.rad20 {
  border-radius: 20px;
}

.rad40 {
  border-radius: 40px;
}

.flipH {
  transform: scaleX(-1);
}

.flipv {
  transform: scaleY(-1);
}

html {
  scroll-behavior: smooth;
}

.flexStart {
  align-items: flex-start;
  justify-content: flex-start;
  color: white;
}

.borderBox {
  box-sizing: border-box;
}

.displayNon {
  display: none;
}

.filter06 {
  filter: brightness(0.6);
}

a {
  text-decoration: none;
  color: black;
  outline: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input, textarea {
  outline: none;
  border: none;
}

.lheight {
  height: 100vh;
}

li {
  list-style: none;
  color: inherit;
}

.margTop50 {
  margin-top: 50px;
}

.z10 {
  z-index: 10;
}

.scrollingDiv {
  overflow: auto;
}

.scrollingDiv::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

.scrollingDiv::-webkit-scrollbar-thumb {
  background-color: rgba(24, 249, 251, 0.42);
  border-radius: 20px;
}

body {
  background-color: #1E1E1E;
  color: white;
  padding: 100px;
  box-sizing: border-box;
}
body .Home {
  box-sizing: border-box;
  width: 100%;
}
body .Home .project {
  width: 595px;
  height: 95px;
  border: 1px solid black;
}
body .Home .project img {
  opacity: 0;
  cursor: pointer;
}
body .Home .project h3 {
  cursor: pointer;
  font-size: 24px;
  font-weight: normal;
  width: 40%;
}
body .Home .project p {
  font-size: 20px;
}
body .Home .project p span {
  font-size: 16px;
  color: #CCCCCC;
}
body .Home .project:hover {
  background-color: #151515;
}
body .Home .project:hover img {
  opacity: 1;
}
body .Project {
  width: 100%;
}
body .Project .header {
  width: 100%;
  margin-bottom: 20px;
}
body .Project .header .proj_name {
  align-items: flex-end;
}
body .Project .header .proj_name p {
  margin-left: 20px;
  padding: 5px;
  font-size: 20px;
}
body .Project .header .proj_name p span {
  margin-left: 5px;
  font-size: 16px;
  color: #CCCCCC;
}
body .Project .header h3 {
  font-weight: normal;
  font-size: 38px;
}
body .Project .header .DDL p {
  font-size: 24px;
  margin-right: 20px;
}
body .Project .header .DDL span {
  color: #F10101;
}
body .Project .header .DDL img {
  cursor: pointer;
}
body .Project .task {
  width: 100%;
  height: 100%;
  min-height: 100px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  font-size: 24px;
}
body .Project .task .taskname {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  font-size: 24px;
}
body .Project .task .taskname img {
  margin-left: 20px;
  height: 30px;
  cursor: pointer;
  opacity: 0;
}
body .Project .task .taskname:hover img {
  opacity: 1;
}
body .Project .task .perc {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}
body .Project .task .perc .smallD {
  font-size: 16px;
  color: #666666;
}
body .Project .task .perc span {
  font-size: 20px;
  margin-left: 10px;
  color: #CCCCCC;
}
body .Project .task .container {
  width: 60%;
  height: 100%;
  box-sizing: border-box;
}
body .Project .task .steps {
  width: 40%;
  box-sizing: border-box;
  font-size: 18px;
  border-left: 1px solid black;
}
body .Project .task .steps .plus {
  height: 40px;
  width: 100%;
  color: #666666;
  cursor: pointer;
  opacity: 0;
}
body .Project .task .steps .plus img {
  margin-left: 10px;
}
body .Project .task .steps .plus:hover {
  opacity: 1;
}
body .Project .task .steps p {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid black;
  cursor: pointer;
}
body .Project .task .steps .check {
  text-decoration: line-through;
}
body .Project .task .steps p:last-child {
  border: none;
}
body .Project .task:last-child {
  border-bottom: 1px solid black;
}
body .add_task {
  justify-content: flex-start;
  height: 40px;
  margin: 20px 0;
  color: #666666;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
body .add_task img {
  margin-right: 10px;
}
body .add_task .back_arrow {
  height: 15px;
}
body .form_container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.637);
}
body .form_container .form {
  width: 600px;
  height: 80%;
  background-color: #151515;
  border-radius: 20px;
  border: 1px solid rgb(102, 102, 102);
  box-sizing: border-box;
  padding: 40px;
  flex-direction: column;
  position: relative;
}
body .form_container .form .x_marque {
  position: absolute;
  right: 20px;
  top: 20px;
  height: 20px;
  cursor: pointer;
}
body .form_container .form .steps_list {
  width: 100%;
  height: 75%;
}
body .form_container .form .steps_list .bx {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
}
body .form_container .form .steps_list .bx img {
  cursor: pointer;
  opacity: 0;
  height: 25px;
}
body .form_container .form .steps_list .bx img:last-child {
  margin-left: 10px;
}
body .form_container .form .steps_list .bx .input_edit_step {
  width: 100%;
  padding: 10px 20px;
  background-color: #1E1E1E;
  color: white;
}
body .form_container .form .steps_list .bx:hover img {
  opacity: 1;
}
body .form_container .form .box {
  width: 100%;
}
body .form_container .form .box img {
  cursor: pointer;
}
body .form_container .form .box p {
  font-size: 24px;
  margin: 10px 0;
}
body .form_container .form .box input {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: #1E1E1E;
  margin: 10px 0;
  color: white;
  border-radius: 10px;
}
body .form_container .form .box .task_force {
  color: #666666;
}
body .form_container .form .box .steps_list {
  width: 100%;
  height: 100%;
  border: 1px solid #F10101;
}
body .form_container .form button {
  width: 180px;
  height: 40px;
  font-size: 24px;
  background-color: #1E1E1E;
  color: #666666;
  border-radius: 20px;
  margin: 20px 0;
}
body .form_container .form .btns button:first-child {
  margin-right: 20px;
  background-color: transparent;
}

.body {
  overflow: auto;
}

.body::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(255, 255, 255, 0.2);
}

.body::-webkit-scrollbar-thumb {
  background-color: rgba(24, 249, 251, 0.42);
  border-radius: 20px;
}/*# sourceMappingURL=App.css.map */